@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
}



/* shared styles */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.text-center{
    text-align: center;
}

.btn-primary{
    border: 1px solid #FD6E0A;
    background-color: #FD6E0A;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0.875rem 1.75rem;
    border-radius: 5px;
} 

.btn-primary:hover, .btn-secondary:hover{
    border: 1px solid #474747;
    background-color: #474747;
    color: #FFFFFF;
}

.btn-secondary{
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 0.875rem 1.75rem;
}


body{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header */

.header, .footer{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('../images/developer.png'), url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: 2%, bottom right;
    background-size: auto 95%, 60% auto;
}

/* Nav Styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11.5rem;
    padding-top: 2.5rem;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-title{
    font-weight: 800;
    font-size: 2rem
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 1rem;
}

/* Banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.25rem 2rem 0 11.5rem;

}

.banner-item{
    flex: 1;
}

.banner-greetings{
    font-size: 2.25rem;
    font-weight: 600;
    
}

.banner-title{
    font-size: 4.25rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.banner-description{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.banner-btn{
    display: flex;
    gap: 1.5rem;
}

.banner-profile-pic{
    display: flex;
    align-items: flex-end;
}
.banner-profile-pic img{
    width: 100%;
    
}

.section-title{
    font-size: 1.75rem;
    font-weight: 700;
}

.section-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 2rem 0;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 6.5rem 11.5rem;
    /* border: 1px solid red; */
    
}


/* about styles */

.container-about{
    padding: 6rem 7rem;
    text-align: center; 
}

.items-about{
    border: 2px solid #333;
    background-color: #fff;
    padding: .25rem;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 1rem;
    margin-bottom: 0;
}

.item-description{
    font-family: 1rem;
    font-weight: 700;
}

.skills{
    margin: 6.5rem 0 0;
}

.skill-section-description{
    padding: 1.5rem 5rem 2.5rem;
}

.skill-container{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.skill{
    padding: 1.5rem;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    gap: 1rem;

}



.skill-title{
    font-size: 1rem;
    margin: 1.5rem 0 1rem;
}

.skill-description{
    font-size: 0.8rem;
    line-height: 1.4rem;
    
}

/* Resume Style */
.resume{
    padding: 6.5rem 0 0;
}
.resume-container{
    margin-top: 5.6rem;
    display: flex;
    gap: 1.2rem;
}

.resume-column-title{
    font-size: 1.5rem;
}

.education-title, .experience-title{
    font-size: 1.25rem;
    margin: 1.5rem 0 0.5rem;
}

.education-subtitle, .experience-subtitle{
    font-size: 1rem;
    font-weight: 600;
    
}
.education-description, .experience-description{
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin: 1rem 0 1.5rem;
}

.resume-download-cv{
    margin-top: 50px;
}

.footer{
    padding: 6.5rem 11.5rem;
    display: flex;
    gap: 5.85rem;
}

.footer-column{
    flex: 1;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.24rem;
    margin: 1.4rem 0;   
}


.footer input[type="text"], .footer input[type="email"], .footer textarea {
    padding: 0.9rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    outline: none;
    
}

.footer input[type="text"]:focus, .footer input[type="email"]:focus, .footer textarea:focus{
    border: 1px solid #FD6E0A;
}

.footer-description{
    font-size: 0.7rem;
    line-height: 1.4rem;
    margin: 1rem 0 1.5rem;
}

.footer-btn{
    width: 100%;
}

.footer-icons a{
    margin-right: 1.25rem;
}

.hide{
    display: none;
}

@media screen and (max-width: 992px){
    .navbar,
    .nav-items,
    .banner,
    .resume-container,
    footer{
    
        flex-direction: column;
    }


}

@media screen and (max-width: 1200px){
    .skill-container{
        flex-wrap: wrap;    
    }
    .about-items{
        flex-direction: column;
    }

    main{
        padding: 5rem 8rem;
        
    }

    .container-about{
        padding: 5rem 8rem;
    }
    

    .items-about{
        padding: 1rem;
    }

    .about-items{
        gap: 1rem;
    }

    .section-description{
        text-align: justify;
    }

}


@media screen and (max-width: 576px) {

    .skill-container{
        flex-direction: column;
    }

    .header{
        background-position: 2% 2%, bottom right;
        background-size: auto 20%, auto 30%;
    }

    .nav-items{
        gap: 1rem;
    }

    .nav-title{
        margin-bottom: 1rem;
    }
    
    .btn-primary{
        font-size: 1rem;
        text-wrap: nowrap;
    }

    .banner{
        padding: 2rem 2rem 0;

    }

    main{
        padding: 1rem;
        
    }
    .skill-section-description{
        padding: 2rem;
    }
    .container-about{
        padding: 2rem;
    }

    .items-about{
        padding: 1rem;
    }

    .about-items{
        gap: 1rem;
    }

    .section-description{
        text-align: justify;
    }

    .resume-container{
        margin-top: 1rem;
        padding: 2rem;
    }

    .footer{
        padding: 2rem 4rem;
        gap: 2rem;
    }
    
}


@media screen and (min-width: 576px) and (max-width: 992px){

    .header{
        background-position: 2% 2%, bottom right;
        background-size: auto 50%, auto 50%;
    }

    .nav-items{
        gap: 1rem;
    }

    .nav-title{
        margin-bottom: 1rem;
    }
    
    .btn-primary{
        font-size: 1rem;
        text-wrap: nowrap;
    }

    .banner{
        padding: 2rem 2rem 0;

    } 

    main{
        padding: 2rem;
        
    }

    .container-about{
        padding: 5rem;
    }

    .items-about{
        padding: 1rem;
    }

    .about-items{
        gap: 1rem;
    }

    .section-description{
        text-align: justify;
    }

    .footer{
        padding: 5rem 8rem;
        gap: 2rem;
    }
    

    
}

